parameters:
    paths:
        - app
        - database
        - routes
        - tests
    
    level: 6
    
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::factory\(\)#'
        - '#Property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+ is never read, only written#'
    
    excludePaths:
        - bootstrap/*
        - storage/*
        - vendor/*
        - node_modules/*
        - '*/cache/*'
    
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    
    bootstrapFiles:
        - vendor/autoload.php
    
    strictRules:
        noVariableVariables: false
        disallowedConstructs: false
        disallowedFunctionCalls: false
        
    parallel:
        maximumNumberOfProcesses: 32