includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - routes
    
    level: 4
    
    ignoreErrors:
    
    excludePaths:
        - bootstrap/*
        - storage/*
        - vendor/*
        - node_modules/*
        - '*/cache/*'
    
    bootstrapFiles:
        - vendor/autoload.php
        
    parallel:
        maximumNumberOfProcesses: 32